<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div *ngIf="isLoggedIn">
      <p style="background-color: pink;height: 50px;width: 230px;">You are successfully loggedin!!</p>
    </div>
    <mat-card *ngIf="!isLoggedIn">
      <mat-card-title>Login</mat-card-title>
      <div *ngIf="!isValidCredentials">
        <span style="background-color: pink;color:firebrick;height: 400px;">Please enter valid credentials OR signup first!!</span>
      </div>
      <mat-card-content>
        <form #login="ngForm" (ngSubmit)="onLogIn(login)">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input type="email" matInput ngModel name="email">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input type="password" matInput ngModel name="password">
            </mat-form-field>
            <div class="example-button-row">
              <button mat-raised-button color="primary">Login</button>
            </div>
            </div>
          </form>
          <p>Don't have an account?<span routerLink="/signup" style="cursor: pointer;"><b>signup</b></span></p>
      </mat-card-content>
    </mat-card>
  </div>
</body>
</html>
